<!DOCTYPE html>

<article>
<head>
   <link rel="stylesheet" type="text/css" href="{{url_for("static",filename="css/style.css")}}">
</head>
<body>

 <nav>
   <div class="topnav">
   <a class="active" href="home">About Code ‘N’ Coffee</a>
   <a href="#new">Latest Events</a>
   <a href="contact">Contact</a>
   <a href="#about">Socials</a>
 </div>
</nav>
     <br>

   <h1>Code ‘N’ Coffee</h1>
   <br>
   <p>London has some great Coffee and Coding hubs for girls who are interested in developing their skills over cake, a hot drink and a nice chat. Make sure you do not miss the hot new addresses openining up</p>

     <br>

   <h2>Peckham</h2>

   <h3>Blackbird Bakery</h3>
   <p class="address">
     134 Queen’s Rd,<br>
     Peckham, London SE15 2ND
   </p>

     <br>



   <h2>Chelsea</h2>

   <h3>A Wanted Man</h3>
   <p class="address">
     330 King’s Rd,<br>
     Chelsea, London SW3 5UR
   </p>

     <br>



   <h2>Knightsbridge</h2>

   <h3>Elan Cafe</h3>
   <p class="address">
     134 Queen’s Rd,<br>
     Peckham, London SE15 2ND
   </p>

     <br>



   <h2>Brixton</h2>

   <h3>Senzala Creperie</h3>
   <p class="address">
     41-42 Coldharbour Ln,<br>
     Brixton, London SW9 8PS
   </p>

     <br>


</article>
</body>
</html>
